@use "@mixins" as *;
@import "reset-css";

* {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-neutral: #5b5b5b;

  --color-primary: #007bff;
  --color-success: #30ad4b;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-gray: #f1f1f1;
  --color-gray-200: #dfdfdf;
  --color-gray-300: #adadad;

  --color-text: #000000;
  --color-bg: #ffffff;

  --theme-transition: 1s;

  background: var(--color-bg);
  color: var(--color-text);

  @include mobile {
    font-size: 14px;
  }
}

:root[data-theme="dark"] {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-neutral: #5b5b5b;

  --color-primary: #007bff;
  --color-success: #30ad4b;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-gray: #f1f1f1;
  --color-gray-200: #dfdfdf;
  --color-gray-300: #adadad;

  --color-text: #ffffff;
  --color-bg: #131212;


  color: var(--color-text);
  background: var(--color-bg);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0 , 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c9a788;

  @include dark
  {
    background-color: #fff;
  }
}
