.container
{
    position: relative;
    z-index: 999999999;    
}

.drawer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation-name: drawer;
    animation-duration: .3s;
}


@keyframes drawer {
    from
    {
        opacity: 0;
        transform: translateX(-100%);
    }
    
    50%
    {
        opacity: 0;
        transform: translateX(-100%);
    }

    to
    {
        opacity: 1;
        transform: translateX(0);
    }
}
