.container
{
    background: #011627;
    width: 100%;
    overflow: auto;
    border-radius: .5rem;

    @media (hover: none), (hover: on-demand), (-moz-touch-enabled: 1), (pointer:coarse) {
      &::-webkit-scrollbar
      {
          display: none;
      }
  }
}

.pre
{
  color: white;
  margin: 1rem;
  font-family: Consolas;
}